body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 25px;
  background: url("../images/wallpaper.jpg");
}

* {
  box-sizing: border-box;
}

#instruction {

	margin-bottom: 10px;
	background: #b49784 ;
	padding: 5px;
	width: 600px;
	}

#randomNumber {
	background:#b48490;
	 margin : auto;
	padding: 20px;
	text-align: center;
}

#win-lose{

	background: #848cb4;
	margin-bottom: : 10px;
	padding: 20px;
	text-align: center;

}

#images {
	background: #84a3b4;
	border : solid grey;
	width: 600px;

}

#yortotalscoreis {
	background: teal;
	margin-bottom: 10px;
	width: 200px;
	height: 50px;
}
}

#score{
	background: teal;
	margin-top: 10px;
	width: 200px;
	height: 100px;
	
}